.btn-main{
    background: $color-default;
    padding: 10px 0;
    width: 356px;
    display: block;
    text-align: center;
    letter-spacing: 0.4px;
    border-radius: 50px;
    @include text(25px, dinea, 40px, $text-white, uppercase);
}
.--textbox{
    width: 100%;
    .title{
        text-align: center;
        @include text(60px, dinea, 65px, $text-black, uppercase);
    }
    .description{
        text-align: center;
        letter-spacing: 0.4px;
        margin-top: 24px;
        @include text(22px, avo, 25px, $text-black, initial);
    }
} 
.showlist{
    height: 460px;
    align-items: center;
    &__text{
        z-index: 20;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: initial;
        .title{
            position: relative;
            &::before{
                content: "";
                width: 290px;
                height: 2px;
                background: $text-black;
                position: absolute;
                top: -20px;
                transform: translateX(-80%);
                left: 0;
            }
        }
        .description{
            text-align: start;
        }
    }
    &__slide{
        position: absolute;
        right: 0;
        height: 460px;
        padding-right: initial;
        padding-left: initial;
        &-imgs{
            height: 100%;
            width: 100%;
            .item{
                overflow: hidden;
                height: 100%;
                position: relative;
                width: 100%;
                img{
                    object-fit: cover;
                    @include mid();
                }
            }
        }
        &-control{
            background: $color-default;
            display: flex;
            position: absolute;
            bottom: -1px;
            left: 0;
            transform: translateX(-50%);
            .icon{
                height: 26px;
                width: 14px;
                padding: 20px;
                box-sizing: content-box;
                cursor: pointer;
            }
            .--prev{
                transform: rotate(180deg);
            }
            &::before{
                content: "";
                width: 1px;
                height: 50%;
                background: #fff;
                @include mid();
            }
        }
    }
}
.choose{
    height: 652px;
    width: 100%;
    margin-top: 120px;
    position: relative;
    .container{
        padding-top: 130px;
    }
    .--textbox{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .title{
            width: 250px;
            text-align: start;
        }
    }
    .btn-main{
        margin-top: 46px;
        font-size: 25px;
        line-height: 40px;
    }
    &__bg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        img{
            object-fit: cover;
        }
    }
}
.choose-box{
    height: 104px;
    width: 104px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: $t $cubic;
    @include text(18px, dinea, 20px, $text-black, uppercase);
    .icon{
        margin: 0 auto;
        width: 68px;
        height: 40px;
        margin-bottom: 10px;
        flex-shrink: 0;
        path{
            fill: #000;
            transition: $t $cubic;
        }
    }
    &:hover{
        transition: $t $cubic;
        border: 0px;
        background: $color-default;
        color: $text-white;
        .icon{
            path{
                fill: $text-white;
            }
        }
    }
}
.accordion{
    width: 100%;
    margin-bottom: 40px;
    &__title{
        display: flex;
        align-items: flex-end;
        width: 100%;
        cursor: pointer;
        @include text(35px, dinea, 37px, $text-black, uppercase);
        .text{
            flex-shrink: 0;
        }
        span{
            width: inherit;
            height: 2px;
            background: $text-black;
            margin-bottom: 4px;
            margin-left: 20px;
        }
        .icon-plus{
            position: relative;
            margin-bottom: 6px;
            margin-left: 20px;
            margin-right: 28px;
            &::before, &::after{
                content: '';
                position: absolute;
                height: 4px;
                width: 28px;
                background: $text-black;
            }
            &::after{
                transform: rotate(-90deg);
                transition: $t $cubic;
            }
            &.active::after{
                transform: rotate(0deg);
                transition: $t $cubic;
            }
        }
    }
    &__content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-height: 0;
        overflow: hidden;
        transition: max-height $t $cubic, margin $t $cubic;
        &-item{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @include text(18px, avo, 20px, $text-black, initial);
            span{
                margin-top: 20px;
            }
        }
        &.active{
            margin-top: 40px;
            margin-bottom: 40px;
            transition: max-height $t $cubic, margin $t $cubic;
        }
    }
}
@include tablet{
    .--textbox{
        .title{
            font-size: 44px;
            line-height: 44px;
        }
        .description{
            font-size: 18px;
            line-height: 20px;
        }
    }
    .showlist{
        height: 380px;
        &__text{
            .title{
                &::before{
                    width: 200px;
                }
            }
        }
        &__slide{
            height: 380px;
            &-control{
                .icon{
                    height: 24px;
                    width: 18px;
                    padding: 10px;
                }
            }
        }
    } 
    .choose{
        height: 420px;
        .container{
            padding-top: 60px;
        }
        .--textbox{
            .title{
                width: 190px;
            }
        }
        .btn-main{
            margin-top: 30px;
            width: 280px;
            font-size: 20px;
            line-height: 30px;
        }
    }
    .accordion{
        &__content{
            grid-template-columns: repeat(4, 320px);
            overflow-x: auto;
            @include custom-scrollbar-2();
        }
    }
}
@include mobile{
    .showlist{
        height: initial;
        margin-left: initial;
        margin-right: initial;
        &__text{
            padding-left: initial;
            padding-right: initial;
        }
        &__slide{
            margin-top: 20px;
            position: relative;
            height: 250px;
            &-control{
                transform: initial;
                .icon{
                    height:32px;
                    width: 20px;
                    padding: 10px;
                }
            }
        }
    }
    .choose{
        height: 360px;
    }
    .accordion{
        margin-bottom: 20px;
        &__title{
            font-size: 28px;
            line-height: 30px;
            .icon-plus{
                &::before, &::after{
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 21px;
                }
            }
        }
        &__content{
            grid-template-columns: repeat(4, 220px);
            margin-top: 20px;
            margin-bottom: 20px;
            &-item{
                font-size: 14px;
                line-height: 16px;
                span{
                    margin-top: 16px;
                }
            }
            
        }
        
    }
}
@include mobile-xxs{
    .btn-main{
        max-width: 356px;
        width: 100%;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .choose-box{
        height: 80px;
        width: 80px;
    }
    .--textbox{
        .title{
            font-size: 24px;
            line-height: 28px;
        }
        .description{
            font-size: 12px;
            line-height: 16px;
            margin-top: 10px;
        }
    }
    .showlist{
        &__text{
            .title{
                &::before{
                    top: 40px;
                    height: 1px;
                    left: -50%;
                }
            }
        }
        &__slide{
            height: 180px;
            &-control{
                .icon{
                    height:20px;
                    width: 30px;
                    padding: 14px 10px;
                }
            }
        }
    }
    .choose{
        display: flex;
        align-items: center;
        background-size: contain;
        height: 220px;
        margin-top: 40px;
        .container{
            padding-top: initial;
        }
        .btn-main{
            margin-top: 10px;
            width: 140px;
            font-size: 10px;
            line-height: 15px;
        }
    }
    .accordion{
        &__content{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
