.btn-main {
    background: $color-default;
    padding: 10px 40px;
    display: block;
    text-align: center;
    letter-spacing: 0.4px;
    width: max-content;
    border-radius: 50px;
    @include text(25px, dinea, 40px, $text-white, uppercase);
}
.--textbox {
    width: 100%;
    .title {
        text-align: center;
        @include text(60px, dinea, 65px, $text-black, uppercase);
    }
    .description {
        text-align: center;
        letter-spacing: 0.4px;
        margin-top: 24px;
        @include text(22px, avo, 25px, $text-black, initial);
    }
}
.mission {
    position: relative;
    height: 460px;
    display: flex;
    align-items: center;
    .container{
        height: 100%;
    }
    &__content{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .--textbox {
        z-index: 1;
        width: (100% * 5) / 12;
        transition: $t $cubic;
        @include hidden();
        @include mid-y();
        .title,
        .description {
            text-align: start;
        }
        &.active {
            transition: $t $cubic;
            @include visible();
            .title {
                &::before {
                    transition: $t $cubic;
                    transform: translateX(-80%) scaleX(1);
                }
            }
        }
        .title {
            position: relative;
            &::before {
                content: "";
                width: 290px;
                height: 2px;
                background: $text-black;
                position: absolute;
                top: -20px;
                transition: $t $cubic;
                transform: translateX(-80%) scaleX(0);
                transform-origin: left center;
                left: 0;
            }
        }
    }
}
.showlist {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 54%;
    &__slide {
        height: 100%;
        &-item {
            height: 100%;
            width: 100%;
            img {
                object-fit: cover;
            }
        }
    }
    &__control {
        background: $color-default;
        display: flex;
        position: absolute;
        bottom: -1px;
        left: 0;
        transform: translateX(-50%);
        .icon {
            padding: 20px;
            box-sizing: content-box;
            cursor: pointer;
            position: relative;
            img {
                transition: $t $cubic;
            }
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%) scaleX(0);
                width: 30px;
                height: 2px;
                background: $text-white;
                transition: $t $cubic;
            }
            &:hover {
                img {
                    transition: $t $cubic;
                    transform: translateX(14px);
                }
                &::before {
                    transition: $t $cubic;
                    transform: translateY(-50%) scaleX(1);
                }
            }
        }
        .--prev {
            transform: rotate(180deg);
        }
        &::before {
            content: "";
            width: 1px;
            height: 50%;
            background: #fff;
            @include mid();
        }
    }
}
.choose {
    height: 652px;
    width: 100%;
    margin-top: 120px;
    position: relative;
    .container {
        padding-top: 130px;
    }
    .--textbox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .title {
            width: 250px;
            text-align: start;
        }
    }
    .btn-main {
        margin-top: 46px;
        font-size: 25px;
        line-height: 40px;
        width: max-content;
    }
    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        img {
            object-fit: cover;
        }
    }
}
.choose-box {
    height: 104px;
    width: 104px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: $t $cubic;
    @include text(18px, dinea, 20px, $text-black, uppercase);
    .icon {
        margin: 0 auto;
        width: 68px;
        height: 40px;
        margin-bottom: 10px;
        flex-shrink: 0;
        path {
            fill: #000;
            transition: $t $cubic;
        }
    }
    &:hover {
        transition: $t $cubic;
        border: 0px;
        background: $color-default;
        color: $text-white;
        .icon {
            path {
                fill: $text-white;
            }
        }
    }
}
.accordion {
    width: 100%;
    margin-bottom: 40px;
    &__title {
        display: flex;
        align-items: flex-end;
        width: 100%;
        cursor: pointer;
        @include text(35px, dinea, 37px, $text-black, uppercase);
        .text {
            flex-shrink: 0;
        }
        span {
            width: inherit;
            height: 2px;
            background: $text-black;
            margin-bottom: 4px;
            margin-left: 20px;
        }
        .icon-plus {
            position: relative;
            margin-bottom: 6px;
            margin-left: 20px;
            margin-right: 28px;
            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 4px;
                width: 28px;
                background: $text-black;
            }
            &::after {
                transform: rotate(-90deg);
                transition: $t $cubic;
            }
            &.active::after {
                transform: rotate(0deg);
                transition: $t $cubic;
            }
        }
    }
    &__content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-height: 0;
        overflow: hidden;
        transition: max-height $t $cubic, margin $t $cubic;
        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @include text(18px, avo, 20px, $text-black, initial);
            span {
                margin-top: 20px;
            }
        }
        &.active {
            margin-top: 40px;
            margin-bottom: 40px;
            transition: max-height $t $cubic, margin $t $cubic;
        }
    }
}
@include desktop {
    .mission{
        &__content{
            height: 240px;
        }
    }
    .showlist {
        height: 400px;
        &__control {
            .icon {
                height: 24px;
                width: 24px;
                padding: 14px 20px;
                &::before {
                    height: 1px;
                }
            }
        }
    }
}
@include tablet {
    .--textbox {
        .title {
            font-size: 40px;
            line-height: 40px;
        }
        .description {
            font-size: 18px;
            line-height: 20px;
        }
    }
    .mission {
        height: initial;
        .--textbox {
            width: 100%;
            margin-top: 20px;
        }
    }
    .showlist {
        margin-top: 40px;
        position: relative;
        width: 100%;
        &__control {
            left: 0;
            transform: initial;
        }
    }
    .choose {
        height: 420px;
        .container {
            padding-top: 60px;
        }
        .--textbox {
            .title {
                width: 190px;
            }
        }
        .btn-main {
            margin-top: 30px;
            font-size: 20px;
            line-height: 30px;
        }
    }
    .accordion {
        &__content {
            grid-template-columns: repeat(4, 320px);
            overflow-x: auto;
            @include custom-scrollbar-2();
        }
    }
}
@include mobile {
    .btn-main {
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 20px;
    }
    .showlist {
        height: 250px;
        &__control {
            transform: initial;
            .icon {
                height: 20px;
                width: 30px;
                padding: 14px 10px;
                &::before {
                    width: 22px;
                    height: 1px;
                }
            }
        }
    }
    .choose {
        height: 360px;
    }
    .accordion {
        margin-bottom: 20px;
        &__title {
            font-size: 28px;
            line-height: 30px;
            .icon-plus {
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    height: 3px;
                    width: 21px;
                }
            }
        }
        &__content {
            grid-template-columns: repeat(4, 220px);
            margin-top: 20px;
            margin-bottom: 20px;
            &-item {
                font-size: 14px;
                line-height: 16px;
                span {
                    margin-top: 16px;
                }
            }
        }
    }
}
@include mobile-xxs {
    .choose-box {
        height: 80px;
        width: 80px;
    }
    .--textbox {
        .title {
            font-size: 24px;
            line-height: 28px;
        }
        .description {
            font-size: 12px;
            line-height: 16px;
            margin-top: 10px;
        }
    }
    .mission{
        &__content{
            height: 200px;
        }
    }
    .showlist {
        height: 180px;
    }
    .choose {
        display: flex;
        align-items: center;
        background-size: contain;
        height: 220px;
        margin-top: 40px;
        .container {
            padding-top: initial;
        }
        .btn-main {
            margin-top: 10px;
            font-size: 10px;
            line-height: 15px;
        }
    }
    .accordion {
        &__content {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
