// product detail page
.main-wrapper.product-detail{
    .banner{
        width: 100%;
        height: 100vh;
        position: relative;
        margin-bottom: 100px;
        &__bg{
            width: 100%;
            height: 94%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            img{
                object-fit: cover;
            }
        }
        &__btn360{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: $color-default;
            display: grid;
            place-items: center;
            bottom: 30%;
            cursor: pointer;
            &::before{
                content: '';
                position: absolute;
            }
            .icon{
                width: 60%;
                height: 60%;
                path{
                    fill: #fff;
                }
            }
        }
        &__bike{
            position: absolute;
            left: 50%;
            width: 68%;
            bottom: 0px;
            transform: translateX(-50%);
        }
        &__choosecolor{
            display: flex;
            position: absolute;
            bottom: -50px;
            justify-content: center;
            width: 100%;
            .cl{
                height: 50px;
                width: 50px;
                margin: 0 10px;
                cursor: pointer;
                &.black{
                    background: #000;
                }
                &.white{
                    background: #fff;
                    border: 1px solid #000;
                }
                &.red{
                    background: red;
                }
            }
        }
    }
    .info{
        margin-top: 50px;
        padding-bottom: 120px;
        &__title{
            width: 100%;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 120px;
            position: relative;
            @include text(35px, dinea, 37px, $text-black, uppercase);
            span{
                display: block;
            }
            &-price{
                font-size: 70px;
                line-height: 72px;
            }
            &::before{
                content: '';
                top: 0;
                background: #000;
                width: 40px;
                height: 2px;
                @include mid-x();
            }
        }
        &__detail{
            width: 100%;
            display: flex;
            &-img{
                height: 630px;
                width: (8 /12) * 100%;
                margin-left: -(2 / 12) * 100%;
                flex-shrink: 0;
            }
            &-content{
                padding-top: 10px;
                padding-left: 40px;
                width: (6 /12) * 100%;
                .title{
                    text-align: start;
                }
                .detail{
                    margin-top: 40px;
                    .accordion{
                        &__content{
                            grid-template-columns: 1fr 1fr;
                            &-item{
                                &:last-child{
                                    align-items: flex-end;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.feature{
    .mission{
        margin-top: 60px;
        .--textbox{
            .title{
                font-size: 35px;
                line-height: 37px;
            }
        }
    }
}
.bikeintro{
    &__title{
        text-align: center;
        @include text(80px, dinea, 82px, $text-black, uppercase);
    }
    &__short{
        text-align: center;
        @include text(30px, avob, 32px, $text-black, initial);
    }
    &__description{
        width: (8 / 12) * 100%;
        margin: auto;
        text-align: center;
        @include text(22px, avo, 26px, $text-black, initial);
        span{
            display: block;
            margin-top: 40px;
        }
    }
}

@include desktop{
    .main-wrapper.product-detail{
        .banner{
            height: calc((100vw * 9) / 16);
        }
        .info{
            &__detail{
                flex-direction: column-reverse;
                &-img{
                    width: 100%;
                    max-width: 780px;
                    margin-left: initial;
                    margin: auto;
                }
                &-content{
                    width: 100%;
                    padding-left: initial;
                }
            }
        }
    }
}
@include tablet{
    .main-wrapper.product-detail{
        .banner{
            &__btn360{
                width: 60px;
                height: 60px;
            }
            &__choosecolor{
                .cl{
                    height: 40px;
                    width: 40px;
                }
            }
        }
        .info{
            margin-top: 40px;
            padding-bottom: 80px;
            &__title{
                padding-top: 40px;
                padding-bottom: 80px;
                &-price{
                    font-size: 60px;
                    line-height: 62px;
                }
            }
            &__detail{
                &-img{
                    height: 460px;
                }
            }
        }
    }
    .bikeintro{
        &__title{
            font-size: 60px;
        }
        &__short{
            font-size: 24px;
            line-height: 24px;
        }
        &__description{
            font-size: 16px;
            line-height: 16px;
            span{
                margin-top: 20px;
            }
        }
    }
}
@include mobile{
    .main-wrapper.product-detail{
        .banner{
            &__btn360{
                width: 40px;
                height: 40px;
            }
            &__choosecolor{
                .cl{
                    height: 28px;
                    width: 28px;
                    margin: 0 4px;
                }
            }
        }
        .info{
            margin-top: 40px;
            padding-bottom: 80px;
            &__title{
                padding-top: 30px;
                padding-bottom: 60px;
                &-price{
                    font-size: 40px;
                    line-height: 42px;
                }
            }
            &__detail{
                &-img{
                    height: 400px;
                }
            }
        }
    }
    .bikeintro{
        &__title{
            font-size: 50px;
        }
        &__short{
            display: flex;
            flex-direction: column;
        }
        &__description{
            width: 100%;
        }
    }
    .feature{
        .mission{
            margin-top: 20px;
        }
    }
}
@include mobile-xxs{
    .main-wrapper.product-detail{
        .banner{
            margin-bottom: 30px;
            &__btn360{
                width: 18px;
                height: 18px;
            }
            &__bike{
                width: 80%;
            }
            &__choosecolor{
                bottom: -30px;
                .cl{
                    height: 18px;
                    width: 18px;
                }
            }
        }
        .info{
            padding-bottom: 30px;
            &__title{
                font-size: 20px;
                line-height: 22px;
                padding-bottom: 40px;
                &-price{
                    font-size: 30px;
                }
            }
            &__detail{
                &-img{
                    height: 260px;
                }
                &-content{
                    .detail{
                        margin-top: 20px;
                        .accordion__title{
                            font-size: 20px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
    .bikeintro{
        &__title{
            font-size: 28px;
            line-height: 60px;
        }
        &__short{
            font-size: 18px;
            line-height: 20px;
        }
        &__description{
            font-size: 12px;
            line-height: 14px;
        }
    }
    .feature{
        .showlist{
            margin-top: 20px;
            .title{
                font-size: 22px;
                line-height: 24px;
            }
        }
    }
}