.main-wrapper.product{
    .banner{
        height: 524px;
        width: 100%;
        &__img{
            height: 100%;
            width: 100%;
            position: relative;
            img{
                object-fit: cover;
                @include mid();
            }
        }
    }
    .intro{
        .container{
            display: flex;
            justify-content: center;
        }
        .--textbox{
            max-width: 734px;
            
        }
    }
    .content{
        margin-top: 160px;
        &__nav{
            display: flex;
            position: relative;
            width: max-content;
            &-item{
                position: relative;
                padding-left: 30px;
                padding-right: 30px;
                cursor: pointer;
                @include text(50px, dinea, 54px, $text-gray, uppercase);
                &:first-child{
                    padding-left: initial;
                    &::after{
                        content: "";
                        height: 100%;
                        width: 2px;
                        background: #000;
                        position: absolute;
                        right: 0;
                        top: 4px;
                        
                    }
                }
                &.active{
                    color: #000;
                }
            }
            &::after{
                content: "";
                height: 2px;
                width: 100%;
                background: #000;
                right: -100%;
                bottom: 0;
                position: absolute;

            }
        }
        .frame-product{
            display: none;
            margin-top: 120px;
            margin-bottom: 120px;
            width: 100%;
            &.active{
                display: block;
            }
        }
        &__show{
            &-item{
                width: 100%;
                height: 510px;
                display: flex;
                margin-top: 140px;
                position: relative;
                .img{
                    height: 100%;
                    width: 476px;
                    position: relative;
                    flex-shrink: 0;
                    z-index: 2;
                    img{
                        position: absolute;
                        width: 110%;
                        height: 110%;
                        max-width: initial;
                        top: -13px;
                    }
                }
                &::before{
                    content: '';
                    width: 90%;
                    height: 100%;
                    background: $cl-gray;
                    transform: $skew-product;
                    position: absolute;
                    right: 0;
                    z-index: 1;
                }
                &:nth-child(2){
                    flex-direction: row-reverse;
                    &::before{
                        left: 0;
                        right: initial;
                    }
                    .img{
                        img{
                            top: 0;
                            height: 116%;
                        }
                    }
                }
                &:last-child{
                    .img{
                        img{
                            top: 0;
                        }
                    }
                }
                .info{
                    width: 100%;
                    padding-left: 70px;
                    padding-top: 20px;
                    z-index: 9;
                    .--textbox{
                        max-width: 400px;
                        .title{
                            text-align: start;
                            font-style: italic;
                        }
                        .description{
                            text-align: start;
                            font-size: 18px;
                            line-height: 20px;
                            font-style: italic;
                            span{
                                @include dot-para-text(2);
                            }
                        }
                    }
                }
                .contain{
                    width: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                }
                .listmore{
                    width: 100%;
                    margin-top: 40px;
                    // display: flex;
                    // align-items: center;
                    position: relative;
                    &__item{
                        width: 30%;
                        position: relative;
                        &-name{
                            @include text(22px, dinea, 22px, $text-black, uppercase);
                        }
                        &-img{
                            width: 100%;
                            height: 118px;
                        }
                        &-price{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            @include text(13px, dinea, 14px, $text-black, uppercase);
                            span{
                                margin-top: 10px;
                            }
                            .price{
                                font-size: 29px;
                                line-height: 30px;
                            }
                        }
                        &-btn{
                            position: absolute;
                            bottom: 10px;
                            width: 100%;
                            transition: $t;
                            @include hidden();
                            .btn-main{
                                width: 80%;
                                font-size: 22px;
                                line-height: 22px;
                                padding: 8px 8px;
                                margin-top: 12px;
                            }
                        }
                        &:hover > .listmore__item-btn{
                            bottom: 20px;
                            transition: $t;
                            @include visible();
                        }
                    }
                    &__control{
                        position: absolute;
                        background: $color-default;
                        padding: 20px 0;
                        padding-right: 40px;
                        display: none;
                        cursor: pointer;
                        img{
                            width: 40px;
                            height: 40px;
                            transition: $t $cubic;
                        }
                        &.-prev{
                            transform: rotate(180deg) $skew-product;
                            left: -30px;

                        }
                        &.-next{
                            right: -30px;
                            transform: $skew-product;
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            height: 2px;
                            width: 0;
                            background: #fff;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            transition: $t $cubic;
                        }
                        &.active{
                            display: block;
                        }
                        &:hover > img{
                            transform: translateX(30px);
                            transition: $t $cubic;
                        }
                        &:hover::before{
                            width: 50px;
                            transition: $t $cubic;
                        }
                    
                    }
                }
            }
        }
        &__choosebike{
            &-more{
                columns: 2;
                margin-top: 120px;
                padding-bottom: 50px;
                position: relative;
                .type, .engine{
                    display: flex;
                    &__box{
                        margin-right: 20px;
                        margin-bottom: 4px;
                    }
                    &__box{
                        &:first-child{
                            border: none;
                            font-size: 30px;
                            line-height: 30px;
                            align-items: center;
                            cursor: initial;
                            &:hover{
                                color: $text-black;
                                background: $text-white;
                            }
                        }
                        
                    }
                }
                .engine{
                    .engine__box{
                        &-text{
                            font-size: 30px;
                            line-height: 30px;
                        }
                        &-bang{
                            font-size: 60px;
                            line-height: 40px;
                        }
                        &-other{
                            font-size: 18px;
                            line-height: 20px;
                        }
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: #cccccc;
                }
            }
            &-price{
                .--textbox{
                    margin-top: 40px;
                    .title{
                        font-size: 30px;
                        line-height: 32px;
                    }
                    .description{
                        font-size: 18px;
                        line-height: 20px;
                    }
                }
                .range{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 40px;
                    padding-bottom: 50px;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: #cccccc;
                    }
                    &__limit{
                        display: flex;
                        flex-direction: column;
                        @include text(30px, dinea, 32px, $text-black, uppercase);
                        .price{
                            font-size: 40px;
                            line-height: 42px;
                        }
                        &:last-child{
                            text-align: end;
                        }
                    }
                    &__main{
                        width: 540px;
                        position: relative;
                        margin: auto;
                        &-slide{
                            position: relative;
                            height: 2px;
                            margin: 0 12px;
                            .track{
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                background: #000;
                            }
                            .thumb{
                                position: absolute;
                                width: 24px;
                                height: 24px;
                                border-radius: 50%;
                                background: #b41710;
                                z-index: 3;
                                box-shadow: none;
                                transition: box-shadow $t;
                                &.active{
                                    box-shadow: 0 0 0 10px $color-default;
                                    transition: box-shadow $t;
                                }
                                &.hover{
                                    box-shadow: 0 0 0 10px $color-default;
                                    transition: box-shadow $t;
                                }
                            }
                            .left{
                                left: 0%;
                                transform: translate(-12px, -10px);
                            }
                            .right{
                                right: 0%;
                                transform: translate(12px, -10px);
                            }
                        }
                        input[type=range]{
                            position: absolute;
                            pointer-events: none;
                            -webkit-appearance: none;
                            width: 100%;
                            height: 10px;
                            z-index: 4;
                            cursor: col-resize;
                            opacity: 0;
                        }
                        input[type=range]::-webkit-slider-thumb{
                            width: 24px;
                            height: 24px;
                            border-radius: 0;
                            border: 0 none;
                            background-color: blue;
                            -webkit-appearance: none;
                            pointer-events: all;
                        }
                    }

                }
            }
            &-gender{
                .--textbox{
                    margin-top: 40px;
                    .title{
                        font-size: 30px;
                        line-height: 32px;
                    }
                }
                .gender{
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    &__box{
                        margin: 0 10px;
                    }
                }
                .search{
                    margin-top: 40px;
                    .btn-main{
                        margin: auto;
                    }
                }
            }
        }
    }
}
.popup-modal{
    height: 100vh;
    width: 100vw;
    background: rgba(40, 40, 40, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 333;
    place-items: center;
    display: grid;
    transition: $t $cubic;
    @include hidden();
    &.active{
        @include visible();
    }
    .popup{
        height: 250px;
        width: 868px;
        background: $color-default;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        // transform: $skew-product;
        transition: $t $cubic;
        @include hidden();
        &.active{
            transition: $t $cubic;
            transform: $skew-product;
            @include visible();
        }
        &__mess{
            width: 100%;
            text-align: center;
            @include text(22px, dinea, 24px, $text-white, uppercase);
        }
        &__button{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 40px;
            transform: skewX(10deg);
            a{
                font-size: 22px;
                line-height: 24px;
                color: $color-default;
                background: $text-white;
                width: max-content;
                padding: 8px 20px;
                margin: 20px;
            }
        }
        &__close{
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(50%, -20%);
            height: 60px;
            width: 60px;
            cursor: pointer;
            background: $text-white;
            display: flex;
            align-items: center;
            justify-content: center;
            @include text(40px, dinea, 40px, $color-default, uppercase);
        }
    }
}

@include desktop{
    .main-wrapper.product{
        .banner{
            height: calc((100vw * 6) / 16);
            width: 100%;
            &__img{
                height: 100%;
                width: 100%;
                position: relative;
                img{
                    object-fit: cover;
                    @include mid();
                }
            }
        }
        .content{
            &__nav{
                margin: auto;
                &::after{
                    right: 0;
                    bottom: -20px;
                }
            }
            &__show{
                &-item{
                    height: 400px;
                    .img{
                        width: 366px;
                    }
                    .info{
                        .--textbox{
                            max-width: 500px;
                            .title{
                                font-size: 40px;
                                line-height: 40px;
                            }
                            .description{
                                font-size: 16px;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
            &__choosebike{
                &-price{
                    .range{
                        &__main{
                            width: 490px;
                        }
    
                    }
                }
            }
        }
    }
    .popup-modal{
        .popup{
            width: 700px;
        }
    }
}
@include tablet{
    .main-wrapper.product{
        overflow: hidden;
        .content{
            margin-top: 80px;
            &__nav{
                &-item{
                    font-size: 40px;
                    }
                    &::after{
                        display: none;
                    }
                }
            &__show{
                &-item{
                    flex-direction: column;
                    align-items: center;
                    height: initial;
                    margin-top: 100px;
                    .img{
                        width: 476px;
                        height: 510px;
                    }
                    &::before{
                        display: none;
                    }
                    &:nth-child(2){
                        flex-direction: column;
                    }
                    .info{
                        margin-top: 100px;
                        padding: initial;
                        position: relative;
                        .--textbox{
                            max-width: 100%;
                            .title{
                                font-size: 44px;
                                text-align: center;
                            }
                            .description{
                                font-size: 18px;
                                line-height: 20px;
                                text-align: center;
                            }
                        }
                        &::before{
                            content: '';
                            width: 1000px;
                            height: 110%;
                            background: $cl-gray;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            position: absolute;
                            z-index: -1;
                        }
                    }
                    .listmore{
                        &__control{
                            padding: 8px 0;
                            padding-right: 20px;
                            &.-prev{
                                // left: -30px;
                            }
                            &.-next{
                                right: 20px;
                            }
                        }
                    }
                    
                }
            }
            &__choosebike{
                &-more{
                    margin-top: 40px;
                    display: flex;
                    flex-direction: column;
                    .type, .engine{
                        flex-wrap: wrap;
                        justify-content: center;
                        .choose-box{
                            &:first-child{
                                flex: 1 1 100%;
                                height: 50px;
                            }
                        }
                    }
                    .engine{
                        margin-top: 20px;
                    }
                }
                &-price{
                    .range{
                        &__main{
                            width: 380px;
                        }
                        &__limit{
                            font-size: 16px;
                            line-height: 18px;
                            .price{
                                font-size: 28px;
                                line-height: 30px;
                            }
                        }
    
                    }
                }
            }
        }
    }
}
@include mobile{
    .main-wrapper.product{
        .content{
            &__nav{
                &-item{
                    font-size: 32px;
                    line-height: 34px;
                    }
                }
            .frame-product{
                margin-top: 40px;
                margin-bottom: 40px;
            }
            &__show{
                &-item{
                    margin-top: 40px;
                    .img{
                        width: 320px;
                        height: 330px;
                    }
                    .info{
                        .--textbox{
                            .title{
                                font-size: 32px;
                            }
                            .description{
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                        &::before{
                            width: 800px;
                        }
                    }
                    .listmore{
                        &__item{
                            width: 32%;
                        }
                        &__control{
                            padding-right: 10px;
                            &.-prev{
                                // left: -30px;
                            }
                            &.-next{
                                right: 0px;
                            }
                        }
                    }
                    
                }
            }
            &__choosebike{
                &-price{
                    .range{
                        &__main{
                            width: 260px;
                        }
                        &__limit{
                            font-size: 10px;
                            line-height: 12px;
                            .price{
                                font-size: 20px;
                                line-height: 22px;
                            }
                        }
    
                    }
                }
            }
        }
    }
}
@include mobile-xxs{
    .main-wrapper.product{
        .content{
            margin-top: 40px;
            &__nav{
                &-item{
                    font-size: 20px;
                    line-height: 22px;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .frame-product{
                margin-top: 40px;
                margin-bottom: 40px;
            }
            &__show{
                &-item{
                    margin-top: 40px;
                    .img{
                        width: 320px;
                        height: 330px;
                    }
                    .info{
                        .--textbox{
                            .title{
                                font-size: 32px;
                            }
                            .description{
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                        &::before{
                            width: 800px;
                        }
                    }
                    .listmore{
                        &__item{
                            width: 50%;
                        }
                        &__control{
                            padding-right: 10px;
                            &.-prev{
                                // left: -30px;
                            }
                            &.-next{
                                right: 0px;
                            }
                        }
                    }
                    
                }
            }
            &__choosebike{
                &-more{
                    .type, .engine{
                        .choose-box{
                            margin-right: 10px;
                            &:last-child{
                                margin-right: initial;
                            }
                        }
                    }
                }
                &-price{
                    .range{
                        &__main{
                            width: 180px;
                            &-slide{
                                .thumb{
                                    height: 10px;
                                    width: 10px;
                                    &.active{
                                        box-shadow: 0 0 0 4px #f4352c;
                                    }
                                }
                                .left{
                                    transform: translate(-8px, -4px);
                                }
                                .right{
                                    transform: translate(8px, -4px);
                                }
                            }
                        }
                        &__limit{
                            font-size: 8px;
                            line-height: 10px;
                            .price{
                                font-size: 10px;
                                line-height: 12px;
                            }
                        }
    
                    }
                }
            }
        }
    }
}
